<div class="bt-breadcrumb">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a>
        </li>
        <li><a href="blog.html">Blog</a>
        </li>
        <li><a href="blog-detail.html">Braid slipper dress dungaree </a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- /.bt-breadcrumb -->
<div class="container">
  <div class="row">
    <column id="column-left" class="col-sm-3 hidden-xs">
    <div class="boss-search box">
      <div class="box-heading block-title">
        <h1>Blog Search</h1>
      </div>
      <div class="box-content">
        <div id="blogsearch" class="input-group">
          <input type="text" name="blogsearch" value="" placeholder="Search" class="form-control input-lg" /> 
          <span class="input-group-btn">
            <button type="button" class="btn btn-search "><i class="fa fa-search"></i></button>
          </span> 
        </div>
      </div>
    </div><!-- /.boss-search -->
    <div class="box block boss_blog-cat">
      <div class="box-heading block-title">
        <div>
          <h1>Blog Categories</h1>
        </div>
      </div>
      <div class="box-content">
        <div class="box-category" id="boss-blog-category">
          <ul class="box-category">
            <li class=""> <a href="#">Smart phone <span>7</span></a> </li>
            <li class="sub_child "> <a href="#">Technology <span>7</span></a>
              <ul class="blog_child">
                <li><a href="#"> Digital Camera <span>7</span></a>
                </li>
                <li><a href="#"> Smart phone <span>7</span></a>
                </li>
              </ul>
            </li>
            <li class=""> <a href="#">Business <span>7</span></a> </li>
            <li class=""> <a href="#">Sport <span>7</span></a> </li>
          </ul>
        </div>
      </div>
    </div><!-- /.boss_blog-cat -->
    <div class="box block boss-recent-post">
      <div class="box-heading"> <span>Blog Recent Post</span> </div>
      <div class="box-content block-content">
        <ol>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b2-98x70.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Braid slipper dress dungaree </a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b6-98x70.jpg" alt="Indigo skirt skirt braid vintage" title="Indigo skirt skirt braid vintage" />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Indigo skirt skirt braid vintage</a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b1-98x70.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
        </ol>
      </div>
    </div><!-- /.boss-recent-post -->
    <div class="box bt-recent-comments">
      <div class="box-heading block-title">
        <h1>Blog Recent Comment</h1> </div>
        <div class="box-content">
          <ol>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Nullam at semper mauris. Aenean nec felis eu velit... </div> <span class="comment-by">Admin</span> 
            </li>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Nullam at semper mauris. Lorem ipsum dolor sit ame... </div> <span class="comment-by">Navida</span> 
            </li>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Lorem ipsum dolor sit amet, consectetur adipiscing... </div> <span class="comment-by">Admin</span> 
            </li>
          </ol>
        </div>
      </div><!-- /.bt-recent-comments -->
      <div class="bt-tagcloud box">
        <div class="box-heading block-title">
          <h1>Tags</h1> </div>
          <div class="box-content" style="text-align:left;"> <a href="#nsectetur" style="text-decoration:none;font-size:10px;font-weight:normal;" title="">nsectetur</a> <a href="#dapibus" style="text-decoration:none;font-size:19px;font-weight:normal;" title="">dapibus</a> <a href="#quiblanditiis" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">quiblanditiis</a> <a href="#ducimus" style="text-decoration:none;font-size:10px;font-weight:normal;" title="">ducimus</a> <a href="#tristiqueu" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">tristiqueu</a> <a href="#tquas" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">tquas</a> <a href="#moll" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">moll</a> <a href="#adipiscing" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">adipiscing</a> <a href="#dignissimos" style="text-decoration:none;font-size:12px;font-weight:normal;" title="">dignissimos</a> <a href="#risus" style="text-decoration:none;font-size:21px;font-weight:normal;" title="">risus</a> <a href="#deserunt" style="text-decoration:none;font-size:14px;font-weight:normal;" title="">deserunt</a> <a href="#praesentium" style="text-decoration:none;font-size:24px;font-weight:normal;" title="">praesentium</a> <a href="#aliquam" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">aliquam</a> <a href="#dolorese" style="text-decoration:none;font-size:25px;font-weight:normal;" title="">dolorese</a> <a href="#stoporta" style="text-decoration:none;font-size:9px;font-weight:normal;" title="">stoporta</a> <a href="#volutpa" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">volutpa</a> </div>
        </div><!-- /.bt-tagcloud -->
        <div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
          <a href="#" title="banner left"> <img alt="banner" src="images/banner/banner_left1.jpg"><span class="bg-top">&nbsp;</span> <span class="bg-bottom">&nbsp;</span>
          </a>
        </div><!-- /.bt-banner-left -->
      </column><!-- /#column-left -->
      
      <div id="content" class="col-sm-9">
        <div class="boss_article-item boss_article-detail">
          <div class="content_bg">
            <div class="article-title"> <img src="images/blog/b2-875x625.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
              <h1 class="article-title-boss">Braid slipper dress dungaree </h1>
              <div class="date-post"> 
                <small class="time-stamp time-article">Monday, Dec 22, 2014</small> 
                <span class="comment-count"><span>0</span> comment(s)</span>
              </div>
            </div>
            <div class="article-content">
              <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Shoe print plaited knot ponytail vintage luxe chambray lilac black.</p>
              <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Statement chunky sole cotton texture boots pastel navy blue Paris sneaker. Shoe print plaited knot ponytail vintage luxe chambray lilac black.&nbsp; Dove grey cami metallic bomber gold collar midi vintage Levi slipper minimal. Relaxed sandal Saint Laurent slip dress bandeau Jil Sander Vasari Hermès. Denim shorts cuff skirt Lanvin braid seam leggings. Tortoise-shell sunglasses silhouette round sunglasses razor pleats chignon tee grunge. Plaited knitwear collarless denim Céline relaxed silhouette denim shorts. Lanvin floral slipper cuff Furla. Chunky sole ecru A.P.C. oversized sweatshirt rings loafer leggings skirt Hermès. Minimal Givenchy holographic ribbed seam crop Acne.</p>
              <p>Texture sandal center part braid maxi powder blue. Pastel clutch Paris vintage chignon metallic sneaker flats skinny jeans vintage Levi. Maison Martin Margiela shoe print razor pleats dress Jil Sander Vasari cotton cami. Oxford leather envelope clutch navy blue round sunglasses Cara D. slip dress. 90s bomber statement black button up spearmint gold collar tucked t-shirt sports luxe tortoise-shell sunglasses. Tee bandeau Saint Laurent luxe street style playsuit Prada Saffiano skort. Midi strong eyebrows white dungaree lilac chambray white shirt. Cashmere washed out boots cable knit indigo dove grey grunge So-Cal.</p>
              <p>Pastel spearmint holographic A.P.C. Hermès collarless washed out. Tee denim shorts collarless chunky sole Jil Sander Vasari chambray skort. Maison Martin Margiela washed out clutch cashmere Hermès playsuit. Cami sneaker dungaree grunge 90s shoe leggings skirt oversized sweatshirt. Silhouette round sunglasses strong eyebrows neutral slip dress flats crop button up skort Lanvin. Hermès braid center part vintage Levi chunky sole cashmere indigo white shirt sports luxe. Cuff playsuit Furla denim shorts razor pleats dove grey tee grunge. Sandal black relaxed Paris knitwear bomber. Clutch slipper maxi loafer Acne. Street style dungaree oversized sweatshirt gold collar chambray metallic 90s collarless. Leather sneaker ribbed Céline chignon boots luxe. Skinny jeans Saint Laurent statement cami tucked t-shirt Jil Sander Vasari print So-Cal. ports luxe relaxed flats black Cara D. denim shorts. Paris skirt sandal oversized sweatshirt envelope clutch center part. Gold collar knot ponytail grunge lilac vintage boots cotton leggings braid cashmere.</p>
            </div>
            <div class="boss_article-action">
              <div class="tags"><span>Tags: </span>
                <ul>
                  <li class="item"><a href="#">deserunt</a>
                  </li>
                  <li class="item"><a href="#">moll</a>
                  </li>
                </ul>
              </div>
              <div class="article-share">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_default_style"><a class="addthis_button_compact">Share</a>
                  <a class="addthis_button_email"></a>
                  <a class="addthis_button_print"></a>
                  <a class="addthis_button_facebook"></a>
                  <a class="addthis_button_twitter"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js"></script>
                <!-- AddThis Button END -->
              </div>
            </div><!-- /.boss_article-action -->
          </div><!-- /.content_bg -->
          <div class="article-related">
            <h1 class="box-title">Related Articles: (4)</h1>
            <div class="carousel-button"> 
              <a id="prev_art_related" class="prev nav_thumb" href="javascript:void(0)" style="display:inline-block;" title="prev"><i class="fa fa-angle-left"></i></a> 
              <a id="next_art_related" class="next nav_thumb" href="javascript:void(0)" style="display:inline-block;" title="next"><i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="list_carousel responsive">
              <ul id="article_related" class="content-articles">
                <li>
                  <div class="relt-article">
                    <div class="image">
                      <a href="blog-detail.html"><img src="images/blog/b4-875x625.jpg" alt="Powder blue collarless playsuit " title="Powder blue collarless playsuit " class="img-responsive" />
                      </a>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="blog-detail.html">Powder blue collarless playsuit </a>
                      </div>
                      <div class="date-comments"> 
                        <small class="time-stamp">Dec 22, 2014</small> 
                        <span class="comment-count"><a href="blog-detail.html">0 comment(s)</a></span> 
                      </div>
                      <div class="title">
                        <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Shoe print plaited knot ponytail vintage luxe chambray lilac black.</p>
                      </div> <a class="btn-readmore" href="blog-detail.html">Read More</a> 
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt-article">
                    <div class="image">
                      <a href="blog-detail.html"><img src="images/blog/b5-875x625.jpg" alt="Clutch leather tote tucked" title="Clutch leather tote tucked" class="img-responsive" />
                      </a>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="blog-detail.html">Clutch leather tote tucked</a>
                      </div>
                      <div class="date-comments"> 
                        <small class="time-stamp">Dec 22, 2014</small> 
                        <span class="comment-count"><a href="blog-detail.html">0 comment(s)</a></span> 
                      </div>
                      <div class="title">
                        <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Shoe print plaited knot ponytail vintage luxe chambray lilac black.</p>
                      </div> <a class="btn-readmore" href="blog-detail.html">Read More</a> 
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt-article">
                    <div class="image">
                      <a href="blog-detail.html"><img src="images/blog/b3-875x625.jpg" alt="Playsuit black razor pleats" title="Playsuit black razor pleats" class="img-responsive" />
                      </a>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="blog-detail.html">Playsuit black razor pleats</a>
                      </div>
                      <div class="date-comments"> 
                        <small class="time-stamp">Dec 22, 2014</small> 
                        <span class="comment-count"><a href="blog-detail.html">0 comment(s)</a></span> 
                      </div>
                      <div class="title">
                        <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Shoe print plaited knot ponytail vintage luxe chambray lilac black.</p>
                      </div> <a class="btn-readmore" href="blog-detail.html">Read More</a> 
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt-article">
                    <div class="image">
                      <a href="blog-detail.html"><img src="images/blog/b1-875x625.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" class="img-responsive" />
                      </a>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="blog-detail.html">Givenchy playsuit</a>
                      </div>
                      <div class="date-comments"> 
                        <small class="time-stamp">Dec 22, 2014</small> 
                        <span class="comment-count"><a href="blog-detail.html">0 comment(s)</a></span> 
                      </div>
                      <div class="title">
                        <p>Spearmint ecru denim cashmere clutch holographic indigo Prada Saffiano washed out. Rings leather tote playsuit crop button up So-Cal Maison Martin Margiela center part la marinière. Shoe print plaited knot ponytail vintage luxe chambray lilac black.</p>
                      </div> <a class="btn-readmore" href="blog-detail.html">Read More</a> 
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div><!-- /.article-related -->
          <div class="product-related">
            <h1 class="box-title">Related Products: (4)</h1>
            <div class="carousel-button"> 
              <a id="prev_related" class="prev nav_thumb" href="javascript:void(0)" style="display:inline-block;" title="prev"><i class="fa fa-angle-left"></i></a> 
              <a id="next_related" class="next nav_thumb" href="javascript:void(0)" style="display:inline-block;" title="next"><i class="fa fa-angle-right"></i></a> 
            </div>
            <div class="list_carousel responsive">
              <ul id="product_related" class="content-products">
                <li>
                  <div class="relt_product">
                    <div class="image">
                      <a href="product-detail.html"><img src="images/product/p12-270x307.jpg" alt="Floral gold collar chunky" title="Floral gold collar chunky" class="img-responsive" />
                      </a>
                      <div class="button-group button-grid">
                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                        </button>
                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                        </button>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="product-detail.html">Floral gold collar chunky</a>
                      </div>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> </div>
                      <div class="price"> <span class="price-old">$122.00</span> <span class="price-new">$98.00</span> </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt_product">
                    <div class="image">
                      <a href="product-detail.html"><img src="images/product/p21-270x307.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-responsive" />
                      </a>
                      <div class="button-group button-grid">
                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                        </button>
                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                        </button>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="product-detail.html">Cashmere cuff vintage Levi maxi</a>
                      </div>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack fa-hidden"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                      <div class="price"> $122.00 </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt_product">
                    <div class="image">
                      <a href="product-detail.html"><img src="images/product/p14-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                      </a>
                      <div class="button-group button-grid">
                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                        </button>
                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                        </button>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="product-detail.html">Minimal black ribbed bandeau</a>
                      </div>
                      <div class="price"> $123.20 </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="relt_product">
                    <div class="image">
                      <a href="product-detail.html"><img src="images/product/p3-270x307.jpg" alt="Oversized sweatshirt" title="Oversized sweatshirt" class="img-responsive" />
                      </a>
                      <div class="button-group button-grid">
                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                        </button>
                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                        </button>
                      </div>
                    </div>
                    <div class="caption">
                      <div class="name"><a href="product-detail.html">Oversized sweatshirt</a>
                      </div>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack fa-hidden"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                      <div class="price"> $122.00 </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div><!-- /.product-related -->
          <div class="comments">
            <div id="article-comments"></div>
            <div class="form-comment-container">
              <div id="new">
                <h1>Leave Your Comment </h1> </div>
                <div id="0_comment_box" class="form-comment content_bg">
                  <div class="field" id="username">
                    <label class="" for="name">Your Name<em>*</em>
                    </label>
                    <div class="input-box">
                      <input type="text" class="form-control required-entry" value="" title="Name" id="name" name="username"> 
                    </div>
                  </div>
                  <div class="field" id="email">
                    <label class="" for="email">Your Email<em>*</em>
                    </label>
                    <div class="input-box">
                      <input type="text" class="form-control required-entry validate-email" value="" title="Email" name="email_blog"> 
                    </div>
                  </div>
                  <div class="input-box-comment">
                    <label class="tt_input" for="comment">Comment<em>*</em>
                    </label>
                    <textarea rows="2" cols="10" class="required-entry form-control" style="height:200px" title="Comment" id="comment" name="comment_content"></textarea>
                  </div>
                  <div class="submit-button">
                    <div class="left"><a id="button-comment" class="btn btn-submit">Continue</a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- /.comments -->
          </div><!-- /.boss_article-item -->
          <div class="bt-facecomments">
            <div class="row">
              <div class="col-sm-12">
                <!--<div class="fb-comments" data-href="#" data-colorscheme="light" data-numposts="5" data-order-by="reverse_time"></div>-->
              </div>
            </div>
            <div id="fb-root"></div>
          </div><!-- /.bt-facecomments -->
        </div><!-- /#content -->
      </div><!-- /.row -->
</div><!-- /.container -->