

<div class="container">
  <div class="row">
    <br>
      <column id="column-left" class="col-sm-3 hidden-xs">
          <div class="box bt-category not-animated" data-animate="fadeInLeft" data-delay="200">
              <div class="box-heading">
                  <h1>Categories</h1>
              </div>
              <div class="box-content">
                  <div class="box-category" id="boss-category">
                      <ul class="box-category">
                          <li class="child active"> <a class="list-group-item active" href="#"></a>
                              <ul class="item_child">
                                  <li><a class="list-group-item" href="#">Category</a>
                                  </li>
                                  <li><a class="list-group-item" href="#">Subcategory</a>
                                  </li>
                                  <li><a class="list-group-item" href="#">Subcategory</a>
                                  </li>
                                  <li><a class="list-group-item" href="#">Subcategory</a>
                                  </li>
                                  <li><a class="list-group-item" href="#">Subcategory</a>
                                  </li>
                              </ul>
                          </li>
                          <li> <a class="list-group-item" href="#"></a>Category</li>
                          <li> <a class="list-group-item" href="#"></a>Category</li>
                          <li> <a class="list-group-item" href="#"></a>Category</li>
                      </ul>
                  </div>
              </div>
          </div><!-- /.bt-category -->
      </column><!-- /#column-left -->
      <div id="content" class="col-sm-9">
          <div data-delay="200" data-animate="fadeInDown" class="bt-block-category fadeInDown animated">
              <a href="#">
                img alt="banner" src= @category.picture.url(:large)
              </a>
              <div class="block-title">
                  h1 = @category.name
              </div>
          </div><!-- /.bt-block-category -->
          <div class="category-list not-animated" data-animate="fadeInRight" data-delay="300">
              <h4>Refine Search</h4>
              <ul>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
                  <li><a href="#">Category Subcategory</a></li>
              </ul>
          </div><!-- /.category-list -->
          <div class="product-filter">
              <div class="display hidden-xs">
                  <button type="button" id="list-view" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i>
                  </button>
                  <button type="button" id="grid-view" class="btn-grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i>
                  </button>
              </div><!-- /.display -->
              <div class="limit-sort hidden-xs">
                  <div class="box_sort">
                      <label class="control-label" for="input-sort">Sort By:</label>
                      <label>
                          <select id="input-sort" class="form-control" onchange="location = this.value;">
                              <option value="sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                              <option value="sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                              <option value="sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                              <option value="sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                              <option value="sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                              <option value="sort=rating&amp;order=DESC">Rating (Highest)</option>
                              <option value="sort=rating&amp;order=ASC">Rating (Lowest)</option>
                              <option value="sort=p.model&amp;order=ASC">Model (A - Z)</option>
                              <option value="sort=p.model&amp;order=DESC">Model (Z - A)</option>
                          </select>
                      </label>
                  </div>
                  <div class="box_limit">
                      <label class="control-label" for="input-limit">Show:</label>
                      <label>
                          <select id="input-limit" class="form-control" onchange="location = this.value;">
                              <option value="limit=15 " selected="selected">15 </option>
                              <option value="limit=25 ">25  </option>
                              <option value="limit=50 ">50  </option>
                              <option value="limit=75 ">75  </option>
                              <option value="limit=100 ">100  </option>
                          </select>
                      </label>
                  </div>
              </div><!-- /.limit-sort -->
          </div><!-- /.product-filter -->
          <div class="row">
            = render partial: 'products/product_card', :collection => @products, :as => :product
          </div>
          = paginate @products
      </div><!-- /#content -->
      <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
      </div>
  </div><!-- /.row -->
</div><!-- /.container -->




script src="#{ request.base_url }/javascripts/jquery-2.1.1.min.js"
script src="#{ request.base_url }/javascripts/bootstrap.min.js"
script src="#{ request.base_url }/javascripts/getwidthbrowser.js"
script src="#{ request.base_url }/javascripts/cs.bossthemes.js"
script src="#{ request.base_url }/javascripts/jquery.jgrowl.js"
script src="#{ request.base_url }/javascripts/jquery.appear.js"
script src="#{ request.base_url }/javascripts/video.js"
script src="#{ request.base_url }/javascripts/jquery.smoothscroll.js"
script src="#{ request.base_url }/javascripts/carouFredSel-6.2.1.js"
script src="#{ request.base_url }/javascripts/plugins.js"
script src="#{ request.base_url }/javascripts/jquery.tools.min.js"
script src="#{ request.base_url }/javascripts/jquery.revolution.min.js"
script src="#{ request.base_url }/javascripts/cloud-zoom.1.0.3.js"
script src="#{ request.base_url }/javascripts/custom.js"
javascript:
    jQuery(document).ready(function() {
        dataAnimate();

        /* View Mode */
        // Product List
        $('#list-view').on('click',function() {
            $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
            localStorage.setItem('display', 'list');
        });
        // Product Grid
        $('#grid-view').on('click',function() {
            // What a shame bootstrap does not take into account dynamically loaded columns
            cols = $('#column-right, #column-left').length;
            if (cols == 2) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12');
            } else if (cols == 1) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12');
            } else {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            }
            localStorage.setItem('display', 'grid');
        });
        if (localStorage.getItem('display') == 'list') {
            $('#list-view').trigger('click');
        } else {
            $('#grid-view').trigger('click');
        }
    });
    /* Modal Quick Shop */
    $('#myModal').on('shown.bs.modal', function (e) {
        $.fn.CloudZoom.defaults = {
            adjustX: 0,
            adjustY: 0,
            tint: '#FFF',
            tintOpacity: 0.5,
            softFocus: 0,
            lensOpacity: 0.7,
            zoomWidth: '450',
            zoomHeight: '552',
            position: 'inside',
            showTitle: 0,
            titleOpacity: 0.5,
            smoothMove: '3'
        };
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    })
    /* Quick Shop */
    function boss_quick_shop(){
        $('.product-thumb').each(function(index, value){
            var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
            $('.button-group', this).append(_qsHref);
        });
    }
